body{
    list-style: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

.Header{
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  text-align: center;
}

.btn{
    padding: 8px;
    text-align: center;
    border-radius: 5px;
    margin: 4px 6px;
}

.controller{
  display: flex;
  justify-content: center;
  padding: 20px;
  flex-wrap: wrap;
}

.btn-container-main{
 display: flex;
 margin: 0 20px;
}

.add-btn{
  background-color: #F8F6F0;
  border: 2px black solid;
  width: 9rem;
  transition: all 0.1s;
  padding: 5px;
}

.remove-btn{
  background-color: #F8F6F0;
  border: 2px black solid;
  width: 9rem;
  transition: all 0.1s;
  padding: 5px;
}

.building {
    position: relative;
    width: 60vw;
}

.floor{
  position: relative;
  border-bottom: 4px solid ;
  height: 10rem;
  display: flex;
  flex-direction: column;
  justify-content: center;

}
.btn-container
{
  margin-left: 4px;
}

.floor .floor-number {
    position: absolute;
    right: 0;
    top: 8rem;
    margin-right: 4px;
}

.up-btn {
    background-color: #ECC5C0 ;
    width: 4rem;
}
.down-btn {
    background-color: #C0C0C0;
    width: 4rem;
}
.elevator {
    position: absolute;
    left: 120px;
    bottom: 7px;

    background-color: black;

    height: 5rem;
    width: 3rem;
    z-index: 1;

    display: flex;
    justify-content: space-between;
}
.door {
    width: 50%;
    height: 100%;
    background: #686A6C;
    border: 2px solid #C0C0C0;
    z-index: 2;
    transition: width 2s linear;
}
